.section {
  padding: 94px 0;
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  @media screen and (min-width: 480px) {
    width: 480px;
  }
  @media screen and (min-) {
    
  }
}

.section__title {
  font-size: 50px;
  color: tomato;
}