body {
  color: green;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}


.features > .item {
  color: tomato;
}

.works-item {
  color: aqua;
}


.works-item {
  color: tomato;
}
