body {
  color: green;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

// .container {
//   width: 1200px;
//   margin: 0 auto;
//   padding: 0 15px;
// }

.team {
height: 300px;
  display: flex;
}


.team-item {
  color: #212121;
}

.current {
  cursor: pointer;
  color: blue;
}
.team-link {
  text-transform: uppercase;
  color: tomato;
}
.team-link:hover, .team-link:focus {
  color: green;
}

.features-item:nth-child(2n) {
  color: blueviolet;
}