<section>
  <div class="conteiner">
    <h2 class="title">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, corporis.</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni labore tenetur ut. Beatae sint alias illum odio recusandae facere molestiae velit iure. Reiciendis sunt modi, saepe ea, fuga dicta similique error ad ab est magni eveniet? Necessitatibus alias adipisci eius voluptatum et nisi doloremque temporibus qui accusantium, vel reprehenderit dicta eum quod laborum sit quae nulla iure nemo enim, at impedit. Quis laboriosam asperiores dicta quam quia eos porro in repellat obcaecati voluptatum inventore veritatis, numquam hic saepe corporis vel possimus ratione aspernatur praesentium, delectus est. Earum animi fuga vero debitis quasi, delectus velit temporibus nemo natus iure saepe beatae?</p>
  </div>
</section>


