<ul class="features">
  <li class="features-item">1
    <ul class="works">
      <li class="works-item">1</li>
      <li class="works-item">2</li>
      <li class="works-item">3</li>
      <li class="works-item">4</li>
      <li class="works-item">5</li>
    </ul>
  </li>
  <li class="features-item">2</li>
  <li class="features-item">3</li>
  <li class="features-item">4</li>
  <li class="features-item">5</li>
</ul>


<ul class="team">
  <li class="item">1</li>
  <li class="item">2</li>
  <li class="item">3</li>
  <li class="item">4</li>
  <li class="item">5</li>
</ul>

