<div class="container">
  <div class="multiple-items">
    <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
      <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
      <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
      <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
      <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
      <div><img src="./images/products/home-pic1.png" alt=""></div>
    <div><img src="./images/products/home-pic2.png" alt=""></div>
    <div><img src="./images/products/home-pic3.png" alt=""></div>
</div>
</div>